<% provide(:title, 'ユーザー情報') %>
<h1>ユーザー情報</h1>
<div>
  <strong>Name: </strong>
  <span id="name"><%= @user.name %></span>
</div>
<div>
  <strong>Email: </strong>
  <span id="email"><%= @user.email %></span>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'User list', users_path %>
