<% provide(:title, 'チャットルーム一覧') %>
<H1>Rooms</H1>

<ul>
  <% @rooms.each do |room| %>
    <li><%= link_to room.name, room_path(room) %></li>
  <% end %>
</ul>

<%= link_to 'チャットルームの新規作成', new_room_path %>
